<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZoD-CSPPQu7H5a1ezcM-Cjx3NsbkmoYU</string>
	<key>GCM_SENDER_ID</key>
	<string>252150989937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonorapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blood-donorapp-42c7a</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donorapp-42c7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252150989937:ios:a9d481baa4ac5aef63c7d0</string>
</dict>
</plist>